/* Blue Gray alternate color scheme */

/* Spinner */
.lds-ring div {
	border-color: #607d8b transparent transparent transparent;
}

/* General */
body, pre {
	background-color: #eceff1;
}

body.custom-background {
	background-color: #eceff1 !important;
}

blockquote, q, .wp-block-pullquote {
	border-left-color: #607d8b;
}

mark, ins {
	background-color: #a1887f;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
	background-color: #795548;
	color: rgba(255, 255, 255, 0.87);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.wp-block-button .wp-block-button__link:hover {
  background-color: #5d4037;
}

.wp-block-button .wp-block-button__link:hover {
	color: rgba(255, 255, 255, 0.87);
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus {
  background-color: #5d4037;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	border-bottom-color: #795548;
}

a:link {
	color: #607d8b;
}

a:visited {
	color: #90a4ae;
}

a:hover,
a:focus,
a:active {
  color: #455a64;
}

/* Header */
.site-header #header-button-panel {
	background-color: #455a64;
}

#header-button-panel .search-field,
.animate .isActive {
	border-bottom-color: #795548;
}

.site-branding {
	background-color: #607d8b;
}

#menu-social ul li a:link,
#menu-social ul li a:visited {
	color: #455a64;
}

#header-button-panel .searchform {
	background-color: #455a64;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #3e2723;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
	color: #3e2723;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
  color: #5d4037;
}

.menu-toggle:hover,
.social-toggle:hover,
.search-toggle:hover,
.sidebar-toggle:hover {
  color: #795548;
}

.menu-toggle:focus,
.social-toggle:focus,
.search-toggle:focus,
.sidebar-toggle:focus,
.searchform.toggled + .search-toggle {
	color: #795548;
}

/* Widgets */
.widget li a:hover,
.widget li a:focus {
  color: #3e2723;
}

.widget .recentcomments a:hover,
.widget .recentcomments a:focus,
.widget ul li .rsswidget:hover,
.widget ul li .rsswidget:focus {
	border-bottom-color: #3e2723;
}

.widget .calendar_wrap caption,
.widget .calendar_wrap td a {
	background-color: #607d8b;
}

/* Gutenberg */
.wp-block-image.alignfull {
	background-color: #263238;
}

@media screen and (min-width: 37.5em) {
	.site-header .main-navigation {
		background-color: #263238;
	}
	
	.site-header .main-navigation .children a:hover,
	.site-header .main-navigation .children a:focus,
	.site-header .main-navigation .sub-menu a:hover,
	.site-header .main-navigation .sub-menu a:focus {
		color: #3e2723;
	}
	
	.site-header .main-navigation ul li a:hover,
	.site-header .main-navigation ul li a:focus,
	.site-header .main-navigation .current_page_item > a,
	.site-header .main-navigation .current-menu-item > a,
	.site-header .main-navigation .current_page_ancestor > a,
	.site-header .main-navigation .current-menu-ancestor > a {
  		border-bottom-color: #795548;
	}
}

/* Page/Post Navigation */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .images-navigation {
	background-color: #90a4ae;
}

/* Content */
.entry-title a:link,
.page-title a:link {
  color: #607d8b;
}

.entry-title a:visited,
.page-title a:visited {
  color: #90a4ae;
}

.entry-title a:hover,
.entry-title a:focus,
.page-title a:hover,
.page-title a:focus {
  color: #455a64;
}

.search .cat-links a:link,
.search .cat-links a:visited,
.search .tags-links a:link,
.search .tags-links a:visited,
.search .posted-on a:link,
.search .posted-on a:visited,
.search .has-post-thumbnail .posted-on a:link,
.search .has-post-thumbnail .posted-on a:visited {
	color: #607d8b;
}

.search .cat-links a:hover,
.search .cat-links a:focus,
.search .tags-links a:hover,
.search .tags-links a:focus,
.search .posted-on a:hover,
.search .posted-on a:focus {
	color: #455a64;
}

.more-link:link,
.more-link:visited {
	background-color: #795548;
	color: rgba(255, 255, 255, 0.87);
}

.more-images-link a {
	background-color: #795548;
}

.more-images-link a:link,
.more-images-link a:visited {
	color: rgba(255, 255, 255, 0.87);
}

.more-link:hover,
.more-link:focus,
.more-images-link a:hover,
.more-images-link a:focus {
	background-color: #5d4037;
	color: #ffffff;
}

.cat-links a:link,
.cat-links a:visited,
.tags-links a:link,
.tags-links a:visited,
.edit-link a:link,
.edit-link a:visited,
.comments-link a:link,
.comments-link a:visited,
.posted-on a:link,
.posted-on a:visited {
	background-color: rgba(38, 50, 56, 0.54);
}

.cat-links a:hover,
.cat-links a:focus,
.tags-links a:hover,
.tags-links a:focus,
.edit-link a:hover,
.edit-link a:focus,
.comments-link a:hover,
.comments-link a:focus,
.posted-on a:hover,
.posted-on a:focus {
	background-color: rgba(38, 50, 56, 0.7);
}

.sticky {
	background-color: #607d8b;
}

.sticky a:link,
.sticky a:visited {
	color: rgba(255, 255, 255, 0.87);
}

.sticky a:hover,
.sticky a:focus {
	color: #ffffff;
}

.gallery-icon.portrait {
	background-color: #eceff1;
}

/* Attachment pages */
body.attachment.colorbox .entry-attachment-image p {
  background-color: #eceff1;
}

.return-to-parent {
	background-color: #90a4ae;
}

body.attachment.custom-background {
	background-color: #ffffff;
}

/* Post Formats */
.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
	background-color: #263238 !important;
}

.blog .format-gallery.sticky,
.blog .format-aside.sticky,
.blog .format-image.sticky,
.blog .format-video.sticky,
.blog .format-audio.sticky,
.blog .format-status.sticky,
.blog .format-quote.sticky {
	background-color: #90a4ae;
}

.format-image,
.format-audio,
.format-video,
.format-aside,
.format-status,
.format-quote {
	background-color: #eceff1;
}

.search .format-standard.has-post-thumbnail .entry-title a:link,
.search .format-image.has-post-thumbnail .entry-title a:link {
	color: #607d8b;
}

.search .format-standard.has-post-thumbnail .entry-title a:visited,
.search .format-image.has-post-thumbnail .entry-title a:visited {
	color: #90a4ae;
}

/* Single page optional slider */
.single.slider .gallery,
.single.slider .slider-button-panel {
	background-color: #263238;
}

.single.slider .slider-button-panel .slider-previous,
.single.slider .slider-button-panel .slider-next {
	background-color: #795548;
}

.single.slider .slider-button-panel .slider-previous:hover,
.single.slider .slider-button-panel .slider-next:hover,
.single.slider .slider-button-panel .slider-previous:focus,
.single.slider .slider-button-panel .slider-next:focus {
	background-color: #5d4037;
}

/* Comments */
.bypostauthor .comment-content {
	background-color: #eceff1;
}

/* Footer */
.site-footer {
	background-color: #607d8b;
}

/* Custom Header */
#custom-header {
	background-color: #607d8b;
}

/* Featured Images */
.featured-image {
	background-color: #263238;
}

/* Colorbox */
#cboxContent {
	background-color: #90a4ae !important;
}

#cboxClose {
	background: url(images/ic_cancel_brown_24px.svg) no-repeat center center !important;
}

#cboxClose:hover {
	background:url(images/ic_cancel_brown_hover_24px.svg) no-repeat center center !important;
}

/* Jetpack */
#infinite-handle span {
	background-color: #607d8b;
}