.site-footer {
	background-color: var(--primary-color);
	box-shadow: $box-shadow-large-reversed;
	color: var(--white);
	/* position is set to relative in order for the footer's box shadow to show */
	position: relative;

	a:link,
	a:visited,
	.widget li a:link,
	.widget li a:visited {
		color: var(--primary-text-color-white);
	}

	a:link,
	a:visited {
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	a:hover,
	a:focus {
		color: var(--white);
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.widget li a:link,
	.widget li a:visited {
		display: inline-block;
	}

	ol, ul {
		padding: 0 1em 1em 3em;
	}

	ol {
		margin: 0px;
	}

	ul {
		list-style-type: disc;
	}

}

@media screen and (min-width: 48em) {
	.site-footer {

		.footer-widget-panel {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.widget {
			margin: 0 auto;
			padding: 1em;
			width: 50%;
		}

	}
}

@media screen and (min-width: 80em) {
	.site-footer {

		.widget {
			width: 33%;
		}

	}
}
