button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.wp-block-file .wp-block-file__button {
	@include link-button-style;
	margin: 0 0.25em;

	&:disabled {
		opacity: 0.5;
	}
}
