/* Classes that can be added with jQuery/JavaScript */
.transition1Sec {
	transition-duration: 1s;
}

.transitionHalfSec {
	transition-duration: 0.5s;
}

.rotate180 {
	transform: rotate(-180deg);
}

.rotate0 {
	transform: rotate(0deg);
}

// Classes added with .animation class added to body tag
// The .animation class is active when "Enable simple animations..." is checked in the Customizer

.animate a:link,
.animate a:visited,
.animate button,
.animate .wp-block-button__link,
.animate input[type="submit"],
.animate input[type="reset"],
.animate .gallery-item,
.animate.woocommerce div.product,
.animate .wc-block-grid__product .wc-block-grid__product-image__image,
.animate .wc-block-grid__product-image img,
.animate .post,
.animate .page,
.animate .tile,
.animate .comments-area {
	transition-duration: 1s;
}

.animate .site-header .main-navigation a:link,
.animate .site-header .main-navigation a:visited,
.animate .comment-form-comment,
.animate .comment-form-author,
.animate .comment-form-email,
.animate .comment-form-url {
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: linear;
}

.animate .isActive {
	border-bottom-color: var(--accent-color);
}

.animate .main-navigation ul ul a:hover,
.animate .main-navigation ul ul a:focus {
	border-bottom: transparent;
}

// For Colorbox
.animate #cboxLoadedContent.fadeIn {
	animation-duration: 3s;
}

// For Headroom
.headroom {
	position: fixed;
	width: 100%;
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

/* Move content down the height of the header to suit the fixed header */
.headroom + .site-content {
	padding-top: 4rem;
}

// For the Material Ripple effect; apply to all buttons and navigation list items.
.animate button:not(.menu-down-arrow),
.animate input[type="button"],
.animate .wp-block-button__link,
.animate .main-navigation ul li a,
.animate #secondary ul li a {
	position: relative;
	overflow: hidden;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.75);
	pointer-events: none;
}

.sub-menu .menu-item a span.ripple {
	background-color: rgba(0, 0, 0, 0.25);
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
