.wp-caption {
	margin-bottom: 1.5em;
	max-width: 85%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		padding: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.wp-caption-text,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-table figcaption,
.gallery-caption {
	@include font-size(0.75);
	font-weight: $font__weight-heavy;
}

.wp-block-embed figcaption,
.wp-block-image figcaption {
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--primary-text-color);
	margin-top: 0px;
	padding: 0.8075em;
	text-align: center;
}

.wp-block-audio figcaption,
.wp-block-table figcaption {
	text-align: center;
}
