#custom-header {
	background-color: $primary-color;
	position: relative;
	width: 100%;
	
	img {
		@include center-block;
		opacity: 0.78;
	}
	
	.hero-widgets-wrap {
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.hero-widgets-wrap .widget-title {
		@include font-size(1.5);
		margin: 0.5rem;
		text-align: center;
	}
	
	.hero-widgets-wrap .widget {
		color: $primary-text-color-white;
		@include font-size(0.875);
		text-transform: uppercase;
	}
	
}

@media screen and (min-width: 37.5em) {
	#custom-header + .main-navigation {
		background-color: transparent;
		bottom: 0;
		position: absolute;
	}
	
	#custom-header .hero-widgets-wrap {
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
		
		.widget {
			@include font-size(1);
		}
		
		.widget-title {
			@include font-size(2);
			margin: 1rem;
		}
		
	}
}

@media screen and (min-width: 80em) {
	#custom-header .hero-widgets-wrap {
		margin-left: 33.3%;
		margin-right: 33.3%;
		top: 30%;
		width: 33%;
	}
}