.format-standard.has-post-thumbnail,
.format-image.has-post-thumbnail,
.type-page.has-post-thumbnail {

	.entry-header {
		position: relative;
		z-index: 0;
	}

	.entry-title {
		bottom: 3em;
		z-index: 100;
	}

	.entry-title,
	.entry-meta {
		position: absolute;
		color: $primary-text-color-white;

		a:link,
		a:visited {
			color: $primary-text-color-white;
		}

	}

	.entry-content,
	.entry-summary {
		padding-top: 1rem;
	}

}

.type-page.has-post-thumbnail .entry-title {
	bottom: 0.5em;
}

.single .format-image.has-post-thumbnail .entry-title {
	margin: 0px;
}

.single .format-image.has-post-thumbnail .entry-footer {
	margin-top: 2em;
}

.format-standard.has-post-thumbnail .entry-meta {
	bottom: 2em;
}

.format-image.has-post-thumbnail .entry-meta {
	bottom: 3em;
}

.format-standard.has-post-thumbnail .entry-meta .material-icons,
.format-image.has-post-thumbnail .entry-meta .material-icons {
	color: $white;
}

.featured-image {
	background-color: $primary-color-dark;
	margin: -1em;
}

.imagegrid .featured-image,
.page-template-page_image-grid .featured-image {
	margin: 0px;
	width: auto;
}

.single.imagegrid .featured-image,
.single.page-template-page_image-grid .featured-image {
	margin: -1em;
}

.has-post-thumbnail .scrim {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	bottom: 0;
	height: 33%;
	@include margin-four-values(-1em, -1em, 0, -1em);
	min-height: 10em;
	position: absolute;
}

.featured-image,
.has-post-thumbnail .scrim {
	width: calc(100% + 2em);
}

@media screen and (min-width: 52.5em) {
	.jgd-column-1 .featured-image,
	.two-by-two-centered-r .featured-image,
	.jgd-column-1.has-post-thumbnail .scrim,
	.two-by-two-centered-r.has-post-thumbnail .scrim {
		width: calc(100% + 3em);
		@include margin-four-values(-1.5em, -1.5em, 0, -1.5em);
	}
}

img.wp-post-image {
	@include center-block;
}
