.gallery {
	@include margin-two-values(2em, auto);
}

.gallery-columns-1 {
	max-width: 300px;
}

.gallery-item {
	margin: 0 auto;
	max-width: 300px;
	position: relative; /* To work with text overlay */
	text-align: center;
	vertical-align: top;
	width: 100%;
	
	img {
		display: block;
		@include margin-two-values(0px, auto);
	}
	
	.gallery-icon.portrait {
		background-color: $primary-color-pale;
	}
	
	&:hover,
	&:focus {
		box-shadow: $box-shadow-large;
		z-index: 100;
	}

}

@media screen and (min-width: 37.5em) {
	.gallery-item {
		display: inline-block;
		
		.gallery-columns-2 &,
		.gallery-columns-4 & {
			width: 50%;
		}
		
		.gallery-columns-3 &,
		.gallery-columns-5 &,
		.gallery-columns-6 &,
		.gallery-columns-7 &,
		.gallery-columns-8 &,
		.gallery-columns-9 & {
			width: 33.33%;
		}
	
	}
	
	.gallery-columns-3,
	.gallery-columns-5,
	.gallery-columns-6,
	.gallery-columns-7,
	.gallery-columns-8,
	.gallery-columns-9 {
		max-width: 900px;
	}
	
	.gallery-columns-2,
	.gallery-columns-4 {
		max-width: 600px;
	}
	
	.gallery-columns-2 + .more-images-link,
	.gallery-columns-4 + .more-images-link {
		max-width: 600px;
	}
	
	.gallery-columns-3 + .more-images-link,
	.gallery-columns-5 + .more-images-link,
	.gallery-columns-6 + .more-images-link,
	.gallery-columns-7 + .more-images-link,
	.gallery-columns-8 + .more-images-link,
	.gallery-columns-9 + .more-images-link {
		max-width: 900px;
	}
}

@media screen and (min-width: 80em) {
	.gallery-item {
	
		.gallery-columns-4,
		.gallery-columns-8 {
			max-width: 1200px;
		}
		
		.gallery-columns-4 .gallery-item,
		.gallery-columns-8 .gallery-item {
			width: 25%;
		}
		
		.gallery-columns-5 {
			max-width: 1500px;
		}
		
		.gallery-columns-5 .gallery-item {
			width: 20%;
		}
	
	}
	
	/* Jetpack gallery */
	.tiled-gallery {
		margin: 2em auto !important;
		max-width: 960px;
	}
	
	.tiled-gallery + .more-images-link {
		max-width: 960px;
	}
	
}

.gallery-caption {
	background: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.6)
	);
	bottom: 0;
	color: $primary-text-color-white;
	display: block;
	max-height: 100%;
	overflow: hidden;
	padding: 0.5em;
	position: absolute;
	width: 100%;
	
	a:link,
	a:visited {
		color: $primary-text-color-white;
		border-bottom: 1px solid $primary-text-color-faded;
	}
	
	a:hover,
	a:focus {
		color: $white;
	}
	
}

/* Gutenberg galleries */
.wp-block-gallery {
	@include margin-two-values(2em, auto);
	padding: 0;
}

.more-images-link {
	text-align: center;
	@include margin-two-values(1em, auto);
	width: 90%;
}

/* Styles for the gallery when slider mode is selected */
.single.slider .gallery {
	background-color: $primary-color-darker;
	position: relative;
	margin-bottom: 0px;
	min-height: 416px;
	min-width: 100%;
}

.single.slider .gallery,
.single.slider .slider-button-panel {
	margin-left: -1em;
	margin-right: -1em;
	max-width: calc(100% + 2em) !important;
}

.single.slider .gallery-item {
	max-width: none;
	position: absolute;
	top: 0;
	width: 100%;
	
	img {
		display: inline;
		margin: 0 auto;
		max-height: 300px;
		width: auto;
	}
	
	&:hover {
		box-shadow: none;
	}
	
}

.single.slider .gallery-caption {
	background: none;
	bottom: auto;
}

.single.slider .gallery-columns-3,
.single.slider .gallery-columns-5,
.single.slider .gallery-columns-6,
.single.slider .gallery-columns-7,
.single.slider .gallery-columns-8,
.single.slider .gallery-columns-9 {
	max-width: 100%;
}

.single.slider .slider-button-panel {
	@include flex-row-space-around;
	background-color: $primary-color-darker;
	margin-bottom: 2em;
	//@include padding-two-values(1em, 25%);
	padding: 1em;
	
	.slider-previous:hover,
	.slider-previous:focus,
	.slider-next:hover,
	.slider-next:focus {
		background-color: $accent-color-dark;	
	}
	
}

@media screen and (min-width: 37.5em) {
	.single.slider .gallery {
		min-height: 560px;
	}
	
	.single.slider .gallery-item img {
		max-height: 480px;
	}
	
	.single.slider .slider-button-panel {
		@include padding-two-values(1em, 25%);
	}
}

@media screen and (min-width: 52.5em) {
	.single.slider .jgd-column-1 .gallery,
	.single.slider .two-by-two-centered-r .gallery,
	.single.slider .jgd-column-1 .slider-button-panel,
	.single.slider .two-by-two-centered-r .slider-button-panel {
		margin-left: -1.5em;
		margin-right: -1.5em;
		max-width: calc(100% + 3em);
	}
}

@media screen and (min-width: 80em) {
	.single.slider .gallery {
		min-height: 736px;
	}
	
	.single.slider .gallery-item img {
		max-height: 640px;
	}
	
	.single.slider .gallery-caption {
		max-width: 75%;
    	margin-left: 12.5%;
    	margin-right: 12.5%;
	}
}