.sidebar-right .widget-area {
  border-radius: 2px;
  margin: 1em;
  z-index: 0;
}

@media (min-width: 48em) {
  .sidebar-right .widget-area {
  	flex-direction: row;
  	flex-wrap: wrap;
  }

  .sidebar-right .widget {
    width: calc(50% - 2em);
  }

  .sidebar-right .widget_calendar {
    margin: 0 1em;
    overflow: hidden;
  }

  .sidebar-right.two-by-two .site-main {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (min-width: 80em) {
  .sidebar-right .widget-area {
    border-radius: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 0 2em;
  }

  .sidebar-right.centered .site-content {
    grid-template-columns: 1fr 50% 25% 1fr;
  }

  .sidebar-right.wide .site-content,
  .sidebar-right.two-by-two .site-content {
    grid-template-columns: 1fr 62.5% 25% 1fr;
  }

  .sidebar-right.page-template-template-landing .site-content {
    grid-template-columns: minmax(20em, 100%);
  }

  .sidebar-right .three-fourths-centered-r,
  .sidebar-right .jgd-column-1,
  .sidebar-right.two-by-two .site-main {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .sidebar-right.two-by-two .three-fourths-centered-r {
    max-width: none;
  }

  .sidebar-right.page-template-template-landing .three-fourths-centered-r {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .sidebar-right.page-template-template-landing .jgd-column-1 {
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
  }
}
