@use "../variables-site/typography";

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.2;
  margin: 2rem 0 1rem;
}

h1 {
  font-weight: typography.$font__weight-normal;
  font-size: 4.5rem;
  letter-spacing: -0.016rem;
}

h2 {
  font-weight: typography.$font__weight-normal;
  font-size: 2.75rem;
  letter-spacing: 0.008rem;
}

h3 {
  font-weight: typography.$font__weight-bold;
  font-size: 2rem;
}

h4 {
  font-weight: typography.$font__weight-bold;
  font-size: 1.75rem;
  letter-spacing: 0.007rem;
}

h5 {
  font-weight: typography.$font__weight-bold;
  font-size: 1.5rem;
}

h6 {
  font-weight: typography.$font__weight-heavy;
  font-size: 1.25rem;
  letter-spacing: 0.007rem;
}

@media screen and (min-width: 37.5em) {
  h1 {
    font-size: 5.25rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.125rem;
  }
}

@media screen and (min-width: 80em) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 3rem;
  }
}

