.widget-area {
	background-color: var(--white);
	box-shadow: $box-shadow-large;
}

/* Refer to menu section for widget link styling */
/* Refer to footer section for footer widget link styling */

#secondary {
	overflow-x: hidden;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
		@include center-block;
	}

	ul {
		list-style: none;
		margin: 0;
		@include padding-two-values(0, 1rem);
	}

	/* For specific widgets */
	.recentcomments a:link,
	.recentcomments a:visited,
	ul li .rsswidget:link,
	ul li .rsswidget:visited {
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	}

	.recentcomments a:hover,
	.recentcomments a:focus,
	ul li .rsswidget:hover,
	ul li .rsswidget:focus {
		border-bottom-color: var(--accent-color-darker);
	}

	.rsswidget {
		font-weight: $font__weight-heavy;
	}

	.rss-date {
		text-transform: uppercase;
	}

	.searchform {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;

		label {
			width: 100%;
		}
	}

	.search-field {
		@include font-size(0.875);
		width: 100%;
	}

	.wp-caption {
		max-width: 100%;
	}

	.wp-calendar-table {
		border: none;
	}

	&_calendar.jgd-column-1 {
		margin: 0;
		width: 100%;
	}

	.calendar_wrap {
		font-weight: $font__weight-bold;
		width: 100%;

		caption {
			background-color: var(--primary-color);
			@include font-size(2);
			margin: 0 -1em;
			padding-left: 2rem;
			text-align: left;
		}

		td, th {
			border-color: transparent;
			height: 1.5em;
			text-align: center;
			width: 1.5em;
		}

		tr:hover {
			background-color: transparent;
		}

		td a {
			background-color: var(--primary-color);
			border-radius: 50%;
			display: inline-table;
			height: 1.5em;
			width: 1.5em;
		}

		caption, td a {
			color: var(--white);
		}

		td#prev {
			text-align: left;
		}

		td#next {
			text-align: right;
		}

		td#prev a,
		td#next a {
			border-radius: 2px;
			display: inline-block;
			height: auto;
			padding: 0.5em;
			width: auto;
		}
	}

}

/* Override column-1 in jgd-material-grid.css */
.widget.column-1 {
	@include padding-two-values(0, 1rem);
}

@media screen and (min-width: 80em) {
	.widget.column-1 {
		@include padding-two-values(0, 1.5rem);
	}
}
