html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-color: var(--primary-color-pale); /* Fallback for when there is no custom background color defined. */
	overflow-x: hidden;

	&.skrollr-animate {
		touch-action: none;
	}
}

/* Styling from Materialize CSS; see http://materializecss.com/typography.html. */
blockquote, .wp-block-pullquote {
	border-left: 5px solid var(--primary-color);
	font-weight: $font__weight-bold;
	@include margin-two-values(1.25em, 0);
	padding-left: 1.25rem;
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr, .wp-block-separator {
	background-color: var(--primary-color-pale);
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";
