/* Styles for mobile phones and tablets only */

.main-navigation ul {
	display: flex;
	flex-direction: column;
}

.site-header #primary-menu {
	background-color: #e0e0e0;
	left: 0;
	padding-left: 1em;
	position: absolute;
	top: 0;
	width: 73%;
	width: calc(75% - 1em);
	z-index: 100;
}

.menu-toggle {
	z-index: 200;
}

.site-header #primary-menu ul {
	padding-top: 4.5em;
}

.site-header #primary-menu ul ul {
	padding-top: 0;
}

.header-button-panel {
	order: 2;
}

.site-branding {
	order: 3;
}

.main-navigation {
	order: 1;
}

@media (min-width: 37.5em) { /* ~600px */
	.main-navigation ul ul {
		position: static;
	}
	
	.site-header #primary-menu {
		width: 31.33%;
		width: calc(33.33% - 1em);
	}
}

@media (min-width: 80em) { /* ~1280px */
	.site-header #primary-menu {
		width: 23%;
		width: calc(25% - 1em);
	}
}