.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		background-color: var(--primary-color-medium);
		padding: 1em;
		overflow: hidden;
		width: 100%;
	}
}

.nav-links,
.images-navigation {
	display: flex;
	justify-content: space-around;

	.nav-previous,
	.nav-next {
		a:link,
		a:visited {
			color: var(--primary-text-color);
		}
	}

	.nav-previous .material-icons {
		margin-right: 0.5em;
	}

	.nav-next .material-icons {
		margin-left: 0.5em;
	}

	.nav-previous .material-icons,
	.nav-next .material-icons {
		/* Google's material icons are displayed as inline-block */
		/* setting a vertical-align makes the text line up with the icons */
		vertical-align: bottom;
	}
}

.images-navigation {
	padding: 1em;
}

.comment-navigation .nav-links {
	justify-content: space-between;
}

@media (min-width: 37.5em) {
	.site-main .comment-navigation {
		border-radius: 2px;
	}
}
