a {
	&:link {
		color: var(--primary-color);
		text-decoration: none;
	}

	&:visited {
		color: var(--primary-color-medium);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--primary-color-dark);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
