.menu-toggle,
.social-toggle,
.sidebar-toggle,
.search-toggle {
	box-shadow: none;
	color: var(--primary-text-color-white);
	min-height: 3rem;
	min-width: 3rem;
	padding: 0.75em;
}

.sidebar-toggle {
	z-index: 200;
}

#menu-social ul {
	display: flex;
	flex-wrap: wrap;

	li {

		a:link, a:visited {
			color: var(--primary-color);
			padding: 0.5rem;
		}

		a::before {
			@include font-size(1.125);
			min-height: 3rem;
			min-width: 3rem;

			-webkit-font-smoothing: antialiased;
		}

	}
}

/* See fields.scss for header searchfield */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	position: relative;
	width: 100%;

	ul {
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			padding-left: 1em;

			a:hover,
			a:focus {
				border-bottom: transparent;
				color: var(--accent-color-darker);
			}
		}
	}

	li {
		position: relative;
		//@include vertical-menu;
	}

	a:link,
	a:visited {
		@include vertical-menu;
		color: var(--primary-text-color);
	}

	a:hover,
	a:focus {
		color: var(--accent-color-darker);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: var(--accent-color-darker);
	}
}

.widget {
	li {
		@include vertical-menu;

		a:link,
		a:visited {
			color: var(--primary-text-color);
		}

		a:hover,
		a:focus {
			color: var(--accent-color-darker);
		}

		.children,
		.sub-menu {
			padding-top: 1em;
		}
	}
}

/* Box shadow values are from the codepen at the following address */
/* https://codepen.io/sdthornton/pen/wBZdXq */
/* Small menu. */
.site-header {
	.main-navigation {
		ul#primary-menu,
		ul.nav-menu {
			box-shadow: $box-shadow-large;
			padding: 4.5em 1em 1em 1em;
			position: absolute;
			top: 0;
			width: 73%;
			width: calc(75% - 1em);
			z-index: 100;

			ul {
				padding-top: 0;

				ul {
					padding-top: 0;
				}
			}
		}
	}
}

.menu-toggle,
.social-toggle,
.search-toggle,
.sidebar-toggle,
.menu-toggle:hover,
.social-toggle:hover,
.search-toggle:hover,
.sidebar-toggle:hover {
	background-color: transparent;
}

.menu-toggle:hover,
.social-toggle:hover,
.search-toggle:hover,
.sidebar-toggle:hover {
	color: var(--accent-color);
}

.menu-toggle {
	position: absolute !important;
	top: 0.5em;
	left: 1em;
	z-index: 200;
}

.menu-toggle.material-ripple { /* Remove position: relative from the .material-ripple class because this button has absolute positioning */
	position: absolute;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
}

.search-toggle { /* Created in the-mx-scripts.js */
	margin-left: 0.5em;
	z-index: 50;
}

.menu-toggle:focus,
.social-toggle:focus,
.search-toggle:focus,
.sidebar-toggle:focus,
.searchform.toggled + .search-toggle {
	background-color: var(--black-opacity-2);
	color: var(--accent-color);
}

.sidebar-toggle.toggled,
.main-navigation.toggled .menu-toggle {
	color: var(--primary-text-color);
}

.search-icon {
	min-height: 3rem;
	min-width: 3rem;
}

.menu-down-arrow {
	box-shadow: none;
	position: absolute;
	left: -9999em;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.menu-down-arrow {
		position: static;
	}

	.site-header {
		.header-button-panel .searchform {
			background-color: transparent;
			position: static;
			width: auto;
			z-index: 0;
		}

		.main-navigation {
			background-color: var(--primary-color-dark);

			li {
				padding: 0px;
			}

			a:link,
			a:visited {
				border-bottom-color: transparent;
				color: var(--primary-text-color-medium-white);
				display: block;
				height: 3rem;
				padding: 0.75em 1em;
				text-transform: uppercase;
				white-space: nowrap;
			}

			ul {
				align-items: flex-end;
				background-color: transparent;
				display: block;
				@include flex-row-wrapped;
				min-height: 3em;

				ul {
					background-color: var(--white);
					float: left;
					padding: 0 0 1em 0;
					position: absolute;
					top: 1.5em;
					z-index: 99999;
				}
			}

			ul#primary-menu,
			ul.nav-menu {
				box-shadow: none;
				min-height: 3rem;
				position: relative;
				padding: 0 1em;
				width: 100%;
				width: calc(100% - 1em);
			}

			.menu-item-has-children,
			.page_item_has_children {
				display: flex;
			}

			.children,
			.sub-menu {
				box-shadow: $box-shadow-medium;
				display: block;
				top: 3rem;
				left: -9999em;
			}

			.children.toggled-submenu,
			.sub-menu.toggled-submenu {
				left: auto;
			}

			.children a:link,
			.children a:visited,
			.sub-menu a:link,
			.sub-menu a:visited {
				color: var(--primary-text-color);
				height: auto;
				min-width: 9.375em;
				text-transform: unset;
				white-space: normal;
			}

			.children a:hover,
			.children a:focus,
			.sub-menu a:hover,
			.sub-menu a:focus {
				color: var(--accent-color-darker);
				border-bottom: none;
			}

			.children ul,
			.sub-menu ul {
				@include hide-offscreen;
				box-shadow: $box-shadow-medium-large;
			}

			.children li > .children.toggled-submenu,
			.sub-menu li > .sub-menu.toggled-submenu {
				left: 25%;
			}

			.children .menu-down-arrow {
				color: var(--black);
			}

			.menu-item-has-children,
			.page_item_has_children {
				display: flex;
			}

			.menu-down-arrow {
				background-color: transparent;
				color: var(--white);
				height: 3rem;
			}

			.page_item_has_children .page_item_has_children .menu-down-arrow,
			.menu-item-has-children .menu-item-has-children .menu-down-arrow {
				color: var(--black);
			}

			ul li a:hover,
			ul li a:focus,
			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				border-bottom: 2px solid var(--accent-color);
				color: var(--primary-text-color-white);
			}

			.children .current_page_item a,
			.sub-menu .current-menu-item a {
				border-bottom-color: transparent;
			}

		}

	}

	// Animations require sub menus to have a persistent left position; hiding on load is done in animations.js
	/*.animate .site-header .main-navigation .children,
	.animate .site-header .main-navigation .sub-menu {
		left: auto;
	}*/

	.error404 .widget li a {
		display: inline-block;
	}

}

@media screen and (min-width: 80em) {
	.site-header {
		.site-branding {
			width: 75%;
		}

		.header-button-panel {
			align-items: flex-start;
			height: auto;
			padding: 0.5em;
			width: 25%;

			.searchform {
				width: 60%;
			}
		}
	}
}
