a {
  color: #673ab7;
}

a:focus {
  color: #512da8;
}

ins,
mark {
  background-color: #311b92;
  color: rgba(255, 255, 255, 0.87);
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="number"],
.editor-styles-wrapper input[type="tel"],
.editor-styles-wrapper input[type="range"],
.editor-styles-wrapper input[type="date"],
.editor-styles-wrapper input[type="month"],
.editor-styles-wrapper input[type="week"],
.editor-styles-wrapper input[type="time"],
.editor-styles-wrapper input[type="datetime"],
.editor-styles-wrapper input[type="datetime-local"],
.editor-styles-wrapper input[type="color"],
.editor-styles-wrapper textarea,
.editor-styles-wrapper select {
  border-bottom-color: #cddc39;
}

table tbody tr:hover,
.wp-block-code {
  background-color: #ede7f6;
}

.editor-styles-wrapper pre {
  background-color: #ede7f6 !important;
}

.wp-block-quote,
.wp-block-quote.is-style-default,
.wp-block-quote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote,
.wp-block-pullquote {
  border-color: #673ab7;
}

.wp-block-button__link,
.wp-block-file .wp-block-file__button {
  background-color: #cddc39;
}

.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover {
  background-color: #afb42b;
}

.is-style-outline .wp-block-button__link {
  color: #311b92;
}

.is-style-outline .wp-block-button__link:hover {
  background-color: rgba(103, 58, 183, 0.04);
}

.is-style-outline .wp-block-button__link:active,
.is-style-outline .wp-block-button__link:focus {
  background-color: rgba(103, 58, 183, 0.12);
}

.wp-block-button__link.has-primary-1-translucent-gradient-background:hover {
  background: linear-gradient(180deg, rgba( 103, 58, 183, 0.0 ) 0%, rgba( 81, 45, 168, 0.04 ) 100%) !important;
}

.wp-block-button__link.has-primary-1-translucent-gradient-background:focus {
	background: linear-gradient(180deg, rgba( 103, 58, 183, 0.0 ) 0%, rgba( 81, 45, 168, 0.12 ) 100%) !important;
}

.wp-block-button__link.has-accent-1-translucent-gradient-background:hover {
  background: linear-gradient(180deg, rgba( 205, 220, 57, 0.0 ) 0%, rgba( 175, 180, 43, 0.04 ) 100%) !important;
}

.wp-block-button__link.has-accent-1-translucent-gradient-background:focus {
  background: linear-gradient(180deg, rgba( 205, 220, 57, 0.0 ) 0%, rgba( 175, 180, 43, 0.12 ) 100%) !important;
}

.wp-block-calendar table caption {
  background-color: #673ab7;
}

.wp-block-calendar table th {
  background-color: #ede7f6;
}

.editor-styles-wrapper .wp-block-table.is-style-stripes table tbody tr:nth-child(odd) {
  background-color: #ede7f6 !important;
}
