/* Stylesheet for the Gutenberg editor backend */

body {
	font-size: 0.875rem;
	line-height: 1.5;
}

.editor-styles-wrapper * {
	font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 2rem 0 1rem;
}

h1,
h2 {
	font-weight: 400;
}

h3,
h4,
h5 {
	font-weight: 500;
}

h6 {
	font-weight: 600;
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.25rem;
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  margin: 0;
}

.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
}

@media and screen (min-width: 37.5em) {
	h1 {
		font-size: 5.25rem;
	}

	h2 {
		font-size: 3.25rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 2.125rem;
	}
}

@media and screen (min-width: 80em) {
	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3.75rem;
	}

	h3 {
		font-size: 3rem;
	}
}

a {
	color: #795548;
}

a:focus {
	color: #5d4037;
}

.wp-block.editor-post-title__block {
	max-width: 580px;
}

.editor-post-title__block .editor-post-title__input {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 2.125rem;
	line-height: 2rem;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull {
	background-color: #3e2723;
}

.wp-block-image img {
	margin: 0px auto;
	width: auto;
}

.wp-block-image figcaption {
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 600;
	margin-top: 0px;
	padding: 0.8075em 0;
}

.wp-block-media-text {
	grid-template-areas:
		"media-text-media media-text-media"
		"media-text-content media-text-content";
}

@media screen and (min-width: 37.5em) {
	.wp-block-media-text {
		grid-template-areas:
			"media-text-media media-text-content";
	}

	.wp-block-media-text.has-media-on-the-right {
		grid-template-areas:
			"media-text-content media-text-media"
	}
}

.wp-block-quote.is-style-default {
	font-weight: 500;
}

.wp-block-quote.is-style-default,
.wp-block-quote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border-left: 5px solid #795548;
	padding-left: 1.25rem;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-style-large .wp-block-quote__citation {
	color: rgba(0, 0, 0, 0.54);
}

.wp-block-quote__citation {
	color: rgba(0, 0, 0, 0.87);
	font-size: 1rem;
	font-style: italic;
}

.wp-block-pullquote {
	border-top: transparent;
	border-bottom: transparent;
	border-left: 5px solid #795548;
}

.wp-block-pullquote.is-style-solid-color {
	border-left: transparent;
}

.wp-block-pullquote p {
	font-weight: 500;
	margin-bottom: 1.5em;
}

.wp-block-pullquote .wp-block-pullquote__citation {
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 500;
	text-transform: none;
}

.wp-block-separator.is-style-default,
.wp-block-separator.is-style-wide {
	background-color: rgba(0, 0, 0, 0.54);
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}

@media (min-width: 80em) {
	.wp-block-separator.is-style-wide {
		max-width: 200%;
		margin-left: -50%;
		margin-right: -50%;
	}
}

.wp-block-calendar {
	margin-bottom: 1em;
}

.wp-block-calendar table caption {
	background-color: #795548;
	color: #ffffff;
	font-size: 2rem;
}

.wp-block-calendar td a {
	background-color: #795548;
	color: #ffffff;
	border-radius: 50%;
	display: inline-table;
	height: 1.5em;
	width: 1.5em;
}

.wp-block-calendar table th {
	background-color: #efebe9;
}

.wp-block-calendar th,
.wp-block-calendar tbody td {
	border: transparent;
}

.wp-block-calendar .wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
}

.wp-block-button__link {
	background-color: #ffc107;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: rgba(0, 0, 0, 0.87);
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
}

.wp-block-button__link:hover {
	background-color: #ffa000;
	color: rgba(0, 0, 0, 0.87);
}

.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 1px solid #c0c0c0;
	box-shadow: none;
	color: #795548;
}

.is-style-outline .wp-block-button__link:hover {
	background-color: rgba(62, 39, 35, 0.04);
}

.wp-block-button__link.has-primary-1-translucent-gradient-background:hover {
	background: linear-gradient(180deg, rgba( 121, 85, 72, 0.0 ) 0%, rgba( 93, 64, 55, 0.04 ) 100%) !important;
}

.wp-block-button__link.has-primary-1-translucent-gradient-background:active,
.wp-block-button__link.has-primary-1-translucent-gradient-background:focus {
	background: linear-gradient(180deg, rgba( 121, 85, 72, 0.0 ) 0%, rgba( 93, 64, 55, 0.12 ) 100%) !important;
}

.wp-block-button__link.has-accent-1-translucent-gradient-background:hover {
	background: linear-gradient(180deg, rgba( 255, 193, 7, 0.0 ) 0%, rgba( 255, 160, 0, 0.04 ) 100%) !important;
}

.wp-block-button__link.has-accent-1-translucent-gradient-background:active,
.wp-block-button__link.has-accent-1-translucent-gradient-background:focus {
	background: linear-gradient(180deg, rgba( 255, 193, 7, 0.0 ) 0%, rgba( 255, 160, 0, 0.12 ) 100%) !important;
}

.is-style-outline .wp-block-button__link:focus {
	background-color: rgba(62, 39, 35, 0.12);
}

.wp-block-freeform.block-library-rich-text__tinymce pre {
	background-color: #efebe9;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	padding: 1.6em;
	overflow: auto;
	white-space: pre;
}

.wp-block-freeform ins,
.wp-block-freeform mark {
	background-color: #ffa000;
	text-decoration: none;
}

.wp-block-freeform kbd,
.wp-block-freeform code {
	background-color: transparent;
}
