/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Styling for Infinite Scroll elements */
#infinite-handle {
	margin: 1em 0;
	text-align: center;

	span {
		background-color: var(--primary-color);
		border-radius: 2px;
		box-shadow: $box-shadow-small;
		color: var(--white);
	}

	button {
		box-shadow: none;
	}

}

/* For Jetpack Infinite Scroll- Recreate CSS for .mx-grid.css */
.infinite-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
