@use "../../variables-site/effects";
@use "../../variables-site/typography";

.comments-area {
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: effects.$box-shadow-small;
  width: 100%;

  &:hover {
    box-shadow: effects.$box-shadow-large;
  }
}

.comment-list li {
  min-height: 4.5rem;
  padding: 1rem 0;
}

.comment-list,
.comment-list .children {
  list-style-type: none;
  margin: 0;
  padding-left: 10%;
}

.comment-author .avatar {
  border-radius: 16px;
}

.comment-metadata .edit-link {
  margin-left: 0.5rem;
}

.comment-reply-link:link,
.comment-reply-link:visited {
  border-radius: 2px;
  color: var(--primary-text-color);
  font-weight: typography.$font__weight-bold;
  padding: 0.5em;
  text-transform: uppercase;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
  background-color: var(--black-opacity-2);
}

@media screen and (min-width: 37.5em) {
  .comment-list,
  .comment-list .children {
    padding-left: 5%;
  }
}

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.bypostauthor .comment-content {
  background-color: var(--primary-color-pale);
  border-radius: 2px;
  font-weight: typography.$font__weight-bold;
  margin: 1em;
  padding: 0 1rem;
}

.comment-author {
  font-size: 1.25rem;
}

.comment-author,
.pingback,
.no-comments {
  font-weight: typography.$font__weight-bold;
}
